<div class="{{#if completed}} closed {{/if}}">
  <!--<span class="check"><input type="checkbox" /></span>-->
  <span class="check"><i class="fi-check"></i></span>
  <span class="destroy right"><i class="fi-x"></i></span>
  <label class='title'>{{title}}</label>
  <input class='edit' value='{{title}}' />
</div>
