<div class="row container">
  <div class="large-8 large-offset-2 columns">
    <header id="header">
      <h1 class="text-center">todos</h1>
    </header>
    <section id="main">
      <h2 class="text-center subheader"><span class="check"><i class="fi-check"></i></span> What needs to be done?</h2>
      <div class="row">
        <div class="columns">
          <div id="todo-list-region"></div>
          <!--<div id="status">
            <div class="row">
              <div class="large-3 columns">
                <span>1 task left</span>
              </div>
              <div class="large-6 columns text-center">
                <a href="">all</a>
                <a href="">completed</a>
                <a href="">uncompleted</a>
              </div>
              <div class="large-3 columns text-right">
                <a href="">mark all as completed</a>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <footer id="footer">
      <div id="info">
        <p class="text-center">
          Double click to edit a todo
        </p>
        <p class="text-center">
          Written by <a href="http://www.github.com/carlohcs">@carlohcs</a> - 2016
        </p>
      </div>
    </footer>
  </div>
</div>
